body {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h1.page-title {
  background-color:rgb(120, 175, 120);
  text-align:center;
  font-family:'Courier New', Courier, monospace;
}

.hidden {
  display:none;
}

.recommend {
  font-weight:800;
  font-size:larger;
  font-family:'Courier New', Courier, monospace;
  text-align:center;
}

#recommend-lang {
  float:right;
  width:40%;
  padding:14px;
  border:2px dashed black;
  background-color:white;
  display:block;
  margin:auto;
}

#intro {
  text-align:center;
}

#error-message {
  font-weight:700;
  color:red;
}

#user-form {
  padding:10px;
  display:block;
  margin:auto;
  background-color:rgb(120, 175, 120);
}

#button {
  background-color:rgb(120, 175, 120);
  font-family:'Courier New', Courier, monospace;
  font-weight:600;
}

#r {
  font-weight:600;
  font-size:large;
  color:black;
  font-family:'Courier New', Courier, monospace;
  color:rgb(120, 175, 120);
}

#c {
  font-weight:600;
  font-size:large;
  color:black;
  font-family:'Courier New', Courier, monospace;
  color:rgb(120, 175, 120);
}

#j {
  font-weight:600;
  font-size:large;
  color:black;
  font-family:'Courier New', Courier, monospace;
  color:rgb(120, 175, 120);
}

#p {
  font-weight:600;
  font-size:large;
  color:black;
  font-family:'Courier New', Courier, monospace;
  color:rgb(120, 175, 120);
}

#ruby {
  text-align:center;
  font-family:'Courier New', Courier, monospace;
}

#ruby img{
  width:40%;
}

#csharp {
  text-align:center;
  font-family:'Courier New', Courier, monospace;
}

#csharp img{
  width:40%;
}

#javascript {
  text-align:center;
  font-family:'Courier New', Courier, monospace;
}

#javascript img{
  width:40%;
}

#python {
  text-align:center;
  font-family:'Courier New', Courier, monospace;
}

#python img{
  width:40%;
}

#none {
  text-align:center;
  font-family:'Courier New', Courier, monospace;
}

#none p{
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#none img{
  width:40%;
}